/*Styles of any components*/


/*Card */ 
.card_director{
    min-width: 250px;
    max-width: 300px;
    min-height: 380px;
    height: fit-content;

    background-color: white;
    padding: 8px;
    margin: 10px 0;
    border-radius: 10px;
    border: solid 1px #efefef;
    transition: all .4s ease-in-out;
}

.card_director:hover{
    box-shadow: 0 0 6px 0 #E2E3E9;
    transform: scale(1.01);
}

.card_director .avatar{
    width: 100%;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 15px;
}

.card_director .avatar img{
    width: 100%;
    height: 200px;
    object-fit: fill;
}

.card_director h2{
    color: #728A8F;
    font-size: .9em;
    font-family: poppinBlack;
}

.card_director .function{
    color: #787777;
    font-size: .8em;
    margin-top:5px ;

    font-weight: bolder;
}

.card_director .task{
    color: #787777;
    font-size: .75em;
    margin-top:5px ;

    display: block;
    margin: 10px 0;   
    min-height: 40px;
}

.card_director a{
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 6px 20px;
    margin-top: 10px;

    background-color: #728A8F;
    color: white;
    font-size: .85em;
    border-radius: 5px;

}

/*Footer*/
.footer{
    width: 100%;
    height: fit-content;
}

.footer .cont{
    width: 90%;
    margin: 30px auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer .cont div{
    width: 23%;
}

.footer .cont div .title{
    font-family: poppinBlack;
    font-size: .8em;
    color: #728A8F;

    display: block;
    text-align: center;
}

.footer .cont div .title_contact{
    font-family: poppinBlack;
    font-size: .8em;
    color: #728A8F;

    display: block;
    text-align: left; 
}

.footer .cont div p{
    font-size: .7em;
    text-align: left;
    color: #787777;
    padding: 10px 0;
}

.footer .cont div span{
    font-size: .7em;
    font-family: poppinBlack;
    text-align: left;
    color: #787777;
    padding: 10px 0;
}

.footer .cont .list{
    font-size: .7em;
    color: #787777;
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 10px 0;
}

.footer .cont .list li{
    display: flex;
    gap: 5px;
    display: block;
    text-align: center;
}

.footer .cont .contacts{
    display: flex;
    flex-direction: column;
    gap: 5px;

    font-size: .7em;
    color: #787777;
    gap: 5px;

    padding: 10px 0;
}

.footer .cont .contacts li{
    display: flex;
    gap: 5px;
}


.footer .cont .icones{
    width: 20px;
    margin-right: 10px;
    color: #787777;
    }

    @media screen and (max-width : 850px) {
        .footer .cont{
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

        .footer .cont div{
            width: 95%;
            border-bottom: #E2E3E9 solid 1px;
            margin: 10px 0;
        }

        .footer .cont .last_blc{
            border: none;
        }

        .footer .cont div .title_contact{
            text-align: center; 
        }
        .footer .cont .contacts{
            align-items: center;
        }
        .footer .cont div p{
            text-align: center;
        }

        .footer .cont div span{
            font-size: .5em;
            text-align: center;
            display: block;
        }

    }

    
    @media screen and (max-width: 600px) {
        .loading_bloc{
            margin: 10px 0;
        }
    
    }
    @media screen and (max-width: 400px) {
        .card_director{
            min-width: 100%;
        }        
    }

    /*Loading component*/

    @keyframes loadingAnim {
        from{
            transform: rotate(0deg);
        }

        to{
            transform: rotate(360deg);
        }
    }
    .loading_bloc{
        width:0;
        height: 0;
        padding: 10px;
        border: solid 4px #728A8F;
        border-bottom-color: transparent;
        border-radius: 50%;
        animation: loadingAnim 1s linear infinite;
    }

    .LoaderPage{
        width: 50%;
        height: 90vh;
        margin: auto;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .LoaderPage span{
        margin-top: 10px;
        color: #728A8F;
        font-size: .75em;
    }