/*CardType Account*/
.containerDatas .DataFilterContainer .TypeAccontContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    background-color: white;
    border-radius:8px;
}

.CardTypeCompte{
    width:200px;
    padding: 8px 10px;
    border-radius: 4px;
    background-color:#eef4f5;
    display: flex;
    justify-content: space-between;
    transition: all ease-in-out .3s;
}

.CardTypeCompteSelected{
    width:200px;
    padding: 8px 10px;
    border-radius: 4px;
    background-color:#eef4f5;
    display: flex;
    justify-content: space-between;
    transition: all ease-in-out .3s;
    transform: scale(1.03);
    box-shadow: 0 0 4px 0 #728A8F;
    cursor: pointer;
}

.CardTypeCompte:hover{
    transform: scale(1.03);
    box-shadow: 0 0 6px 0 #D7DFE0;
    cursor: pointer;
}

.CardTypeCompte .title, .CardTypeCompteSelected .title{
    color: #324447;
    font-size: .8em;
    font-family: poppinBlack;
    display: flex;
    align-items: center;
}

.CardTypeCompte .icone, .CardTypeCompteSelected .icone{
    width: 25px;
    color: #324447;
}

/*Loading*/
.loadingAccount{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.loadingAccount span{
    color: #787777;
    font-size: .7em;
    text-align: center;
}


.constainerDatasNewAccountDir{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.titleForm{
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    margin: auto;
    background-color: white;
    border-radius: 4px;
    box-shadow:  0 0 5px 0 #D7DFE0 ;
    width: 99%;
}

.titleForm span{
    color: #324447;
    font-family: poppinBlack;
    font-size: .8em;
    display: flex;
    align-items: center;
}

.titleForm select{
    border: 2px #D7DFE0 solid;
    padding: 5px 5px;
    color: #324447;
    font-size: .7em;
    border-radius: 5px;
}

.titleForm select:focus{
    outline: none;
}

.titleForm select:hover{
    cursor: pointer;
}


.containerNewsaccount{
    width: 99%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    overflow-y: auto;
}

.containerNewsaccount .Formulaire{
    height: fit-content;
    margin: 10px 0;
    width: 45%;
    overflow-y: auto;
}


.containerNewsaccount::-webkit-scrollbar {
    background-color: #F9F9FC;
    width: 5px;
    border-radius: 10px;
}

.containerNewsaccount::-webkit-scrollbar-thumb {
    background-color: #787777c0;
    border-radius: 10px;
}

.containerNewsaccount::-webkit-scrollbar-button {
    background-color: #E2E3E9;
    height: 5px;
    border-radius: 10px;
}


.containerNewsaccount .StudentFormulaire{
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.StudentFormulaire .TitleBloc{
    display: block;
    text-align: center;
    font-size: .9em;
    color: #787777;
    font-weight: bold;
}

.containerNewsaccount .DescriptionDatas{
    width: 55%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerNewsaccount .DescriptionDatas .stapeDescr{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        color: #787777;
        font-size: .8em;
}
.containerNewsaccount .DescriptionDatas .stape{
    display: flex;
    align-items: center;
    color: #728A8F;
    font-weight: bold;
    gap: 5px;
    padding: 5px 10px;
    background-color: rgba(188, 237, 188, 0.3);
    width: fit-content;
    border-radius: 4px;
}

.containerNewsaccount .DescriptionDatas .Icone{
    width: 25px;
}

.containerNewsaccount .DescriptionForm .imgDescription{
    width: 100%;
}
.containerNewsaccount .Formulaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.containerNewsaccount .containerBtn{
    width: 40%;
    display: flex;
    justify-content: center;
}

/*News*/
.LinkToNewS{
    padding: 10px 0;
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #D7DFE0;
}

.LinkToNewS .newPub{
    color: white;
    background-color: #728A8F;
    font-size: .8em;
    padding: 8px 15px;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 #D7DFE0;
    transition: all .4s ease-in-out;
}
.LinkToNewS .newPub:hover{
    opacity: .8;
}

.LinkToNewS .RefreshDatas .Icone{
    width: 20px;
    color: #787777;
}

.LinkToNewS  .RefreshDatas .Icone{
    width: 18px;
    color: #324447;
}

.LinkToNewS .RefreshDatas .numberOfUser{
    display: flex;
    align-items: center;
    font-size: .7em;
    color: #728A8F;
}

.LinkToNewS .RefreshDatas {
    background-color: #eef4f5;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    gap: 5px;
    transition: all .2s ease-in-out;
}

.LinkToNewS .RefreshDatas:hover{
    cursor: pointer;
    box-shadow: 0 0 4px 0 #D7DFE0;
    border: #728A8F solid 1px;
}

.DatasValve{
    max-width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.ContainerAllCardNews{
    width: 100%;
    max-height: 100vh;
    display: flex;
    overflow: auto;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 4.8%;
}


.ContainerAllCardNewsDir{
    margin: 0 5%;
    max-height: 90vh;
    display: flex;
    overflow: auto;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 4.8%;
}

.ValveNews{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 4.8%;
}

.DatasValve .HeadView{
    width: 100%;
    padding: 5px 0;
    border-bottom: #D7DFE0 solid 1px;
    display: flex;
    justify-content: flex-end;
}

.DatasValve .HeadView .RefreshDatas .Icone{
    width: 20px;
    color: #787777;
}

.DatasValve .HeadView .RefreshDatas .Icone{
    width: 18px;
    color: #324447;
}

.DatasValve .HeadView .RefreshDatas .numberOfUser{
    display: flex;
    align-items: center;
    font-size: .7em;
    color: #728A8F;
}

.DatasValve .HeadView .RefreshDatas {
    background-color: #eef4f5;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    gap: 5px;
    transition: all .2s ease-in-out;
    border: #D7DFE0 solid 1px;
}

.DatasValve .HeadView .RefreshDatas:hover{
    cursor: pointer;
    box-shadow: 0 0 4px 0 #D7DFE0;
    border: #728A8F solid 1px;
}


.ContainerAllCardNews::-webkit-scrollbar {
    background-color: #E2E3E9;
    width: 5px;
    border-radius: 10px;
}

.ContainerAllCardNews::-webkit-scrollbar-thumb {
    background-color: #787777;
    width: 5px;
    border-radius: 10px;
}

.ContainerAllCardNews::-webkit-scrollbar-button {display: none;
}


.ContainerAllCardNewsDir::-webkit-scrollbar {
    background-color: #E2E3E9;
    width: 5px;
    border-radius: 10px;
}

.ContainerAllCardNewsDir::-webkit-scrollbar-thumb {
    background-color: #787777;
    width: 5px;
    border-radius: 10px;
}

.ContainerAllCardNewsDir::-webkit-scrollbar-button {display: none;
}

.CardNews{
    width: 30%;
    min-width: 150px;
    max-height: 280px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 #D7DFE0;
    margin-bottom: 20px;
}

.CardNews .decor{
    width: 100%;
    height: 100px;
    border-radius:5px 5px 0 0;
    background-color: #D7DFE0;
}

.CardNews .ContainerDatas{
    width: 100%;
    padding: 5px 10px;
    margin: 10px 0;
}

.CardNews .TitleCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CardNews .TitleCard .title{
    font-size: .8em;
    font-family: poppinBlack;
    color: #728A8F;
    max-width: 70%;
    max-height: 20px;
    overflow: hidden;
}

.CardNews .TitleCard .date{
    color: #787777;
    font-size: .7em;
}

.CardNews .contanierMsg{
    font-size: .75em;
    color: #787777;
    margin: 5px 0;
    text-align: left;
    height: fit-content;
    height: 90px;
    overflow-y:hidden;
}
.CardNews .ContainerLink{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.CardNews .ContainerLink .Link{
    padding: 5px 15px;
    font-size: .8em;
    color: white;
    background-color: #728A8F;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 #D7DFE0 ;
}

/*New Pub*/
.ContainerNewsInfo{
    width: 70%;
    margin: auto;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.ContainerNewsInfo .TiltePub{
    width: 50%;
    margin: 20px 0;
}

.ContainerNewsInfo .TextEditable{
    margin: 0 20px;
    color: #787777;
    font-size: .9em;
    background-color: white;
    box-shadow:  0 0 3px 0 #D7DFE0;
    border-radius: 4px; 
    padding: 10px;
    text-align: left;
    min-height: 150px;
    max-height: 300px;
    overflow: auto;   
}

.ContainerNewsInfo .TextEditable::-webkit-scrollbar {
    display: none;
}

.ContainerNewsInfo .TextEditable::-webkit-scrollbar-thumb {
    display: none;
}

.ContainerNewsInfo .TextEditable::-webkit-scrollbar-button {
    display: none;
}

.ContainerNewsInfo .TextEditable:focus{
    outline: none;
}

.ContainerNewsInfo .BtnsLink{
    margin: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.ContainerNewsInfo .BtnsLink a, .ContainerNewsInfo .BtnsLink button{
    font-size: .9em;
    padding: 6px 18px;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 #D7DFE0;
}

.ContainerNewsInfo .BtnsLink .returnBtn{
    color: #728A8F;
    border: solid 1px #728A8F;
}

.ContainerNewsInfo .BtnsLink .SendBtn{
    background-color: #728A8F;
    color: white;
}
.mt-news{
    margin-top: 20px;
}

/*Proclammations Dates Limites*/

.ContainerDefineDatesProclam{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContainerDefineDatesProclam .disponsitionContent{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.ContainerDefineDatesProclam table{
    box-shadow: 0 0 5px #D7DFE0 ;
}

.ContainerDefineDatesProclam table .TitleTableDates{
    background-color: rgba(188, 237, 188, 0.3);
    color: #787777;
    font-size: .8em;
}

.ContainerDefineDatesProclam table  .bodyTableDates{
    color: #787777;
    font-size: .7em;
}

.ContainerDefineDatesProclam table td{
    border: solid 1px #D7DFE0;
    padding: 8px 16px;
}

.ContainerDefineDatesProclam table  .Icone{
    width: 25px;
    margin: auto;
    color: #787777;
    opacity: .8;
    transition: all .3s ease-in-out;
    padding: 4px;
    border-radius: 5px;
}

.ContainerDefineDatesProclam table  .Icone:hover{
    color: white;
    opacity: 1;
    background-color: #728A8F;
    box-shadow: 0 0 5px #D7DFE0;
    cursor: pointer;
}

.ContainerDefineDatesProclam .ContBtnsAndLabel{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ContainerDefineDatesProclam .DateDefine{
    width: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 0 5px #D7DFE0;
    inset-inline-start: 4px;

    display: flex;
    flex-direction: column;
    gap:10px
}

.ContainerDefineDatesProclam .Periode{
    font-size: .9em;
    font-weight: bold;
    color: #728A8F;
}

.ContainerDefineDatesProclam .PeriodeError{
    font-size: .9em;
    font-weight: bold;
    color: red;
}

.ContainerDefineDatesProclam .groupeInput{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.ContainerDefineDatesProclam .groupeInput label{
    color: #787777;
    font-size: .7em;
}

.ContainerDefineDatesProclam .DateProclInput{
    width: 100%;
    color: #787777;
    font-size: .8em;
    border: solid 2px #D7DFE0;
    border-radius: 4px;
    padding: 5px 10px;
}
.ContainerDefineDatesProclam .DateProclInput:focus{
    outline: none;
    border: solid 2px #D7DFE0;
}

.ContainerDefineDatesProclam .btnsActions{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.ContainerDefineDatesProclam .btnsActions button{
    padding: 6px 18px;
}
.ContainerDefineDatesProclam .btnsActions button:hover{
    cursor: pointer;
}

.ContainerDefineDatesProclam .btnsActions .Return{
    border: solid 1px #D7DFE0;
    color:#787777;
    border-radius: 4px;
    font-size: .8em;
}
.ContainerDefineDatesProclam .btnsActions .send{
    border: solid 1px #D7DFE0;
    color:white;
    border-radius: 4px;
    font-size: .8em;
    background-color: #728A8F;
    box-shadow: 0 0 5px #D7DFE0;
}

.ContainerDefineDatesProclam .btnsActions .sendDisabled{
    border: solid 1px #D7DFE0;
    color:white;
    border-radius: 4px;
    font-size: .8em;
    background-color: #324447;
    box-shadow: 0 0 5px #D7DFE0;
    opacity: .4;
}