/*BackHome btn*/
    .backHome{
        padding: 8px 20px;
        background-color: #efefef;
        box-shadow: 0 0 5px 0 #E2E3E9;
        transition: all .5s ease-in-out;
        border-radius: 5px;
        position: absolute;
        top: 50px;
        left: 50px;
    }

    .backHome:hover{
        background-color: #728A8F;
        color: white;
    }
   
    .backHome .icone{
        width: 15px;
    }

/*Register and Login Pages*/
.body_log_reg{
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: white;
    box-shadow: 1px 1px 3 0 #787777;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.body_log_reg .bloc{
    width: 40%;
}

.register_form, .login_form{
    padding: 30px;
    width: 95%;
    border-bottom: #E2E3E9 solid 1px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


.body_log_reg .title{
    font-size: 1.2em;
    font-family: poppinBlack;
    margin-bottom: 10px;
}

.body_log_reg .Register_bloc{
    font-size: .70em;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #787777;
    text-align: center;
    margin-top: 10px;
}

.body_log_reg .Register_bloc a{
    color: #728A8F;
    font-family: poppinBlack;
    transition: opacity .5s ease-in-out;
}

.body_log_reg .Register_bloc a:hover{
    opacity: .8;
}

.illustration_log_Reg{
    width: 40%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.reg_illust{
    justify-content: flex-end;
}

.illustration_log_Reg img{
    width: 80%;
    z-index: 1;
}

.illustration_log_Reg div{
    width: 50%;
    height: 450px;
    background-color: #728A8F;
    position: absolute;
    left: 25%;
}
.illustration_log_Reg .div_reg{
    left: 3%;
}

/*Register and Login components*/

    .groupe_form{
        width: 100%;
    }

    .groupe_form label{
        display: block;
        width: 90%;
        margin:auto;
        font-size: .75em;
        color: #787777;
        margin-bottom: 3px;
    }

    .groupe_form .log_reg_input, .groupe_form ._iPhone_input{
        width: 90%;
        height: 35px;
        border-radius: 5px;
        border: solid 2px #E2E3E9 ;
        padding: 2px 5px;
        /*Font*/
        font-family: poppinLight;
        font-size: .75em;

        display: block;
        margin: auto;
   }

    .groupe_form .log_reg_input:focus{
        outline: none;
        border-color: #728A8F;
    }

    .groupe_form ._iPhone_input:focus{
        border-color: #E2E3E9;
        outline: none;
        font-size: 100%;
    }

    .form_send_btn{
        width: 90%;
        background-color: #728A8F;
        color:white;
        padding: 6px 0;
        border-radius: 5px;
        box-shadow: 0 0 2px 0 #E2E3E9;
        transition: all .4s ease-in-out;
    }

    .form_send_btn:hover{
        transform: scale(1.005);
        opacity: .9;
    }

@media screen and (max-width: 850px) {
    .body_log_reg{
        gap: 0;
    } 

    .body_log_reg .bloc{
        width: 48%;
    }
    
    .register_form, .login_form{
        padding: 30px;
        width: 100%;
    }

    .illustration_log_Reg{
        width: 45%;
    }
    
    .illustration_log_Reg img{
        width: 70%;
    }
    
    .illustration_log_Reg div{
        width: 60%;
        height: 300px;
        left: 30%;
    }

    .backHome{
        padding: 8px 15px;
        border-radius: 4px;
        top: 40px;
        left: 5%;
    }
}

@media screen and (max-width: 650px) {
    .register_form, .login_form{
        padding: 5px;
        margin: auto;
    }
    .groupe_form .log_reg_input, .groupe_form ._iPhone_input{
        width: 100%;
   }
    
    .illustration_log_Reg img{
        width: 90%;
    }

    .form_send_btn{
        width: 100%;
        margin-bottom: 10px;
    }
}

/* Mobile view */

@media screen and (max-width: 500px) {
    .body_log_reg .bloc{
        width: 80%;
    }
    .illustration_log_Reg{
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .body_log_reg .bloc{
        width: 95%;
    }
}