/*Nav_bar style*/
.Nav_bar{
    width: 100%;
    height: 70px;
    background-color: white;
    box-shadow: 0 0px 4px 0 #728A8F;
    
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .Nav_bar div{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .Nav_bar .logo{
    width: 25%;
    font-family: poppinBlack;
    color: #1e1e1e;
    font-size: 1.4em;
    margin: 2px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Nav_bar .links{
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    color: #1e1e1e;
  }

  .Nav_bar .links li{
    transition: all .8s;
    font-size: .85em;
    font-family: poppinLight;
    font-weight: bolder;
  }

  .Nav_bar .links li:hover{
    color: #728A8F;
    transform: scale(1.1);
  }

  .link_selected{
    color: #728A8F;
  }

  .link_selected::after{
    display: flex;
    flex-direction: column;

    content: '';
    background-color: #728A8F;
    width: 95%;
    height: 3px;
    border-radius: 5px;
    margin: auto;
  }
  
  .Nav_bar .btns {
      width: 25%;
      display: flex;
  }
  
  .Nav_bar .btns .icons{
    display: flex;
    justify-content: space-around;
    color: #1e1e1e;
    width: 50%;
  }

  .Nav_bar .btns .link_to_login{
    background-color: #728A8F;
    color: aliceblue;
    padding: 8px 16px;

    font-family: poppinThin;
    font-size: .9em;

    box-shadow: 0 0 3px 0 #1e1e1e;
    border-radius: 4px;
    opacity: 1;
    transition: all .5s ease-in-out;
  }

  .Nav_bar .btns .link_to_login:hover{
    opacity: .9;
    box-shadow: 0 0 8px  #1e1e1e;
  }