.titlePrint{
    font-family: poppinBlack;
    font-size: .8em;
    padding-top: 20px;
    text-align: center;
    display: none;
}

@media print {
    .containerMenu, .ReturnPrintReload{
        display: none;
    }

    .titlePrint{
        display: block;
    }
    
}